{% extends 'base.html' %}

<head>
  {% block head %}
  <title>signup</title>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container">
    <h1><b>Sign up page</b></h1>
    <p>Create your account here.</p>
    <p>Already have an account?Login <a href="{% url 'login' %}">here</a>.</p>
    <form  method="post">
      {% csrf_token %}
      {% for field in form %}
      {{ field.label_tag }}<br/>
      {{ field }}<br/>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>  
  </div>
  {% endblock %}
</body>
